.signin-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.signin-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
  z-index: 1;
}

.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 2;
  width: 100%;
}

.app-nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 96%;
  z-index: 2;
  height: 80px;
  top: 0;
}

.netflix-logo {
  width: 150px;
  height: auto;
}

.signin-content {
  background-color: rgba(31, 28, 28, 0.827);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.signin-title {
  color: #fff;
  font-weight: 600 !important;
  margin-bottom: 20px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.signin-form {
  margin-top: 20px;
}

.input-field {
  margin-bottom: 20px;
  width: 70%;
  background-color: rgba(156, 156, 156, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.signin-btn {
  margin-top: 1rem !important;
  background-color: #e50914;
  color: white;
  font-weight: 600 !important;
  height: 50px;
}

.signin-btn:hover {
  background-color: #d40813;
}

.signup-link {
  margin-top: 1rem !important;
  color: #fff;
  font-weight: 600 !important;
}

.signup-btn {
  color: #fff !important;
  font-weight: 600 !important;
}

/* Tablet and smaller screen size (up to 768px ~ 48em) */
@media (max-width: 48em) {
  .signin-content {
    padding: 30px;
  }

  .input-field {
    width: 85%;
  }

  .signin-btn {
    height: 45px;
    font-size: 0.9rem;
  }
}

/* Mobile screen size (up to 480px ~ 30em) */
@media (max-width: 30em) {
  .signin-content {
    padding: 20px;
  }

  .input-field {
    width: 100%;
  }

  .signin-btn {
    width: 100%;
    font-size: 0.8rem;
  }

  .signup-link {
    font-size: 0.9rem;
  }

  .signup-btn {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) {
      .css-5c1adp-MuiContainer-root {
          padding-left: 0 !important;
          padding-right: 24px;
      }
  }