@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg{
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}

/* Style cho scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Chiều rộng của scrollbar */
}

/* Style cho phần bên trong thanh cuộn (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu nền */
  border-radius: 10px; /* Độ cong các góc */
  border: 3px solid #fff; /* Đường viền */
}

/* Style cho phần track của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền */
  border-radius: 10px; /* Độ cong các góc */
}
